// Imported partials
@use 'brand';

.awards {
  height: 823;
}
.awards-divider {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 2px solid brand.$border-color;
}
.awards-heading {
  width: 300px;
  margin-top: 3em;
}
.awards-content {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 275px;
  margin-top: 3em;
}
.awards-buffer {
  width: 303px;
  height: 550px;
}
.awards-content-title {
  margin-bottom: 12px;
}
.awards-content-list {
  width: 190px;
}
.border-bottom {
  border-bottom: 2px solid brand.$border-color;
}
