// Imported partials
@use 'brand';

// Awards section
.awards {
  height: 1110px;
}
.awards-divider {
  width: 100%;
  height: 409px;
  border-top: 2px solid brand.$border-color;
  padding: 1em 0;
  .awards-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 3em 0;
    &.shorter {
      width: 65%;
    }
    .awards-content-list {
      width: 190px;
    }
  }
}
.awards-content-title {
  margin-bottom: 12px;
}
