// Imported partials
@use 'brand';

.header__navbar {
  width: 100%;
  height: 145px;
  display: flex;
  align-items: center;
  border: brand.$setup-border;
  .header__navbar__logo {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    border: brand.$setup-border2;
  }
  .header__navbar__list {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .header__navbar__list-item {
    margin-right: 29px;
    display: inline-block;
    border: brand.$setup-border;
  }
}
