// Imported partials
@use 'variables';

.navbar {
  border: variables.$setup-border;
  display: flex;
  justify-content: center;
  align-content: center;
  .navbar__list {
    list-style: none;
  }
  .navbar__logo {
    justify-content: flex-start;
    border: $setup-border2;
  }
  .navbar__list-item {
    justify-content: flex-end;
    border: $setup-border;
  }
}
