// Imported partials
@use 'brand';

.article-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
  .article-intro {
    width: 645px;
  }
  .article-half-text {
    width: 635px;
  }
}
.article-details {
  width: 335px;
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}
.article-detail-titles {
  width: 150px;
  justify-self: flex-start;
  .article-detail-title {
    height: 42px;
    margin-bottom: 18px;
    border-bottom: 1px solid brand.$border-30op;
  }
}
.article-detail-texts {
  width: 150px;
  justify-self: flex-end;
  .article-detail-text {
    height: 42px;
    margin-bottom: 18px;
    border-bottom: 1px solid brand.$border-30op;
  }
}
.article-container {
  margin-bottom: 3em;
  .article-img {
    margin-bottom: 3em;
  }
}
.article-grid {
  display: flex;
  justify-content: space-between;
}

