// Using when setting it up - Delete when done
$setup-border: 2px dotted orange;
$setup-border2: 2px solid blue;

// Typography
$primary-font: "Mulish", sans-serif;
$primary-color: #111111;
$secondary-color: #4A4FF2;
$thirdary-color: #707070;

