.navbar {
  border: 2px dotted orange;
  display: flex;
  justify-content: center;
  align-content: center;
}
.navbar .navbar__list {
  list-style: none;
}
.navbar .navbar__logo {
  justify-content: flex-start;
  border: 2px solid blue;
}
.navbar .navbar__list-item {
  justify-content: flex-end;
  border: 2px solid blue;
}

body {
  padding: 0 2em 0 2em;
  border: 2px dotted pink;
  font-family: "Mulish", sans-serif;
  color: #111111;
}

div {
  padding: 1em;
  border: 2px dotted orange;
}