// Imported partials
@use 'brand';
@use 'header';
@use 'intro';
@use 'gallery';

// SASS code
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1110px;
  margin: 0 auto;
  border: 2px dotted pink;
  font-family: brand.$primary-font;
  color: brand.$primary-color;
  border: brand.$setup-border2;
}
section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: brand.$setup-border;
}
