// Imported partials
@use 'header';
@use 'brand';

// SASS code
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1360px;
  margin: 0 auto;
  // padding: 0 2em 0 2em; 
  border: 2px dotted pink;
  font-family: brand.$primary-font;
  color: brand.$primary-color;
}
div {
  border: brand.$setup-border;
}
