p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  opacity: 60%;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

blockquote {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  opacity: 60%;
  position: relative;
}
blockquote:before {
  position: absolute;
  top: -28px;
  content: "____";
}

span {
  color: #4A4FF2;
}

.header__navbar {
  width: 100%;
  height: 145px;
  display: flex;
  align-items: center;
}
.header__navbar .header__navbar__logo {
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
.header__navbar .header__navbar__list {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.header__navbar .header__navbar__list-item {
  margin-left: 29px;
  display: inline-block;
}

.intro {
  margin-bottom: 8em;
}

.intro-content {
  width: 58%;
}

.intro-eyebrow {
  color: #4A4FF2;
}

.intro-side {
  width: 42%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-grid {
  height: 1964px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: repeat(16, 1fr);
  gap: 20px;
}

.project-container {
  min-height: 355px;
  width: 357px;
}

.one {
  grid-column: 1/2;
  grid-row: 1/3;
}

.two {
  grid-column: 1/2;
  grid-row: 3/6;
}

.three {
  grid-column: 1/2;
  grid-row: 6/11;
}

.four {
  grid-column: 1/2;
  grid-row: 11/17;
}

.five {
  grid-column: 2/3;
  grid-row: 1/2;
}

.six {
  grid-column: 2/3;
  grid-row: 2/4;
}

.seven {
  grid-column: 2/3;
  grid-row: 4/10;
}

.eight {
  grid-column: 2/3;
  grid-row: 10/17;
}

.nine {
  grid-column: 3/4;
  grid-row: 1/5;
}

.ten {
  grid-column: 3/4;
  grid-row: 5/7;
}

.eleven {
  grid-column: 3/4;
  grid-row: 7/15;
}

.twelve {
  grid-column: 3/4;
  grid-row: 15/17;
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1110px;
  margin: 0 auto;
  border: 2px dotted pink;
  font-family: "Mulish", sans-serif;
  color: #111111;
  border: 2px solid blue;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px dotted red;
}