// Imported partials
@use 'brand';
@use 'header';
@use 'footer';
@use 'intro';
@use 'projects';
@use 'services';
@use 'awards';
@use 'template-article';
@use 'contact-page';


// Base SASS for the structure
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1110px;
  margin: 0 auto;
  font-family: brand.$primary-font;
  color: brand.$primary-color;
  // border: 2px solid green;
}
section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3em 0;
}
